.app-search {
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 400px;
}

.app-search-input {
    width: 55%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid gray;
}
